@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('fonts/IcoMoon-Ultimate.ttf');

body{
  background-color: #F5F6F8;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

nav{
  background-color: #fff;
}

h4{
  font-size: 16px;
}

h5{
  font-size: 14px;
}

nav {
  font-size: 18px;
}

.background-gray{
  background-color: #494E54;
}
.background-lightgray{
  background-color: #A0A6B9;
}

.color-gray{
  color: #494E54;
}
.color-lightgray{
  color: #A0A6B9;
}

.border-custom-gray{
  border-color: #494E54;
}
.border-custom-lightgray{
  border-color: #A0A6B9;
}

.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-content{
  background-color: #fff;
  display: none;
  position: absolute;
  padding: 2em 3.5em 1em 1em;
  left: -2em;
  font-size: 16px;
  white-space: nowrap;
}

.dropdown:hover{
  color: #A0A6B9;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content ul > li {
  padding: 0.5em 1em;
}

.dropdown-icon{
  fill: #A0A6B9;
  height: 22px;
  width: 16px;
  margin-right: 10px;
}